section.section.about#about
  .container
    .row
      .col-sm-5.col-sm-offset-2
        h2.section__title This is Bouncy
        p At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. 
        a(href="#").btn Read More
      .col-sm-5.hidden-xs
        img(src="img/ipad.png", alt="Ipad").img-responsive.img-center

section.section.section--gray
  header.section__header
    h2.section__title Details About Bouncy
    p.section__subtitle At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
    
  ul.about__controls
    li.about__controls-item.active
      i.ic.ic-heart
    li.about__controls-item
      i.ic.ic-mouse
    li.about__controls-item
      i.ic.ic-bulb
  
  .about__carousel
    .about__carousel-item
      .container
        .row
          .col-sm-11.col-sm-offset-1
            h3.h3 Creative Ideas
          .col-sm-4.col-sm-offset-1
            p.largep At <a href="#">vero</a> eos et accusamus et iusto odio dignissimos <strong>ducimus</strong> qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores 
          .col-sm-5.col-sm-offset-1
            p At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque <strong>corrupti quos</strong> dolores et quas molestias <a href="#">excepturi</a> sint occaecati cupiditate non provident, <strong>similique</strong> sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem r
