footer.mainfooter.section.section--gray
  .container
    .mainfooter__inner
      .mainfooter__logo
        img(src="img/logo-black.png", alt="Logo")
      span.mainfooter__copyright Copyright 2015. All rights Reserved
      ul.mainfooter__socials.socials
        li.socials__item.socials__item--f
          a(href="#").socials__link <i class="ic ic-f"></i>
        li.socials__item.socials__item--t
          a(href="#").socials__link <i class="ic ic-t"></i>
        li.socials__item.socials__item--in
          a(href="#").socials__link <i class="ic ic-in"></i>
        li.socials__item.socials__item--ins
          a(href="#").socials__link <i class="ic ic-ins"></i>
        li.socials__item.socials__item--v
          a(href="#").socials__link <i class="ic ic-v"></i>
