section.section.news
  .container
    .row
      .col-sm-5
        .section__title Latest News
        p.section__subtitle At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium

    .row
      .news__articles
        article.news__article
            .col-sm-6.col-sm-offset-1
              h3.news__title The trending Landing Pages
              span.news__author by <strong>Kabir Uddin</strong>
              span.news__tags 6950 Likes - 243 Comments - 703 shares
              p.news__text At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio...  
              a(href="#").news__more + Read More
