section.section.section--gray.price
  header.section__header
    h2.section__title Our price
    p.section__subtitle At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
  .container
    ul.price__container
      li.price__item
        .price__item-face
          .price__item-name <span>Premium</span>
          span.price__unit $ 60
          span.price__tag Per Month
        .price__item-back
          ul.price__goods
            li Full Branding
            li Project Management 
            li Unlimited Revisions
            li 24/7 h Service
            li Free Domain
            li Free Hosting
          .price__more <a href="#">Let's Start ></a>
      li.price__item
        .price__item-face
          .price__item-name <span>Standard</span>
          span.price__unit $ 70
          span.price__tag Per Month
        .price__item-back
          ul.price__goods
            li Full Branding
            li Project Management 
            li Unlimited Revisions
            li 24/7 h Service
            li Free Domain
            li Free Hosting
          .price__more <a href="#">Let's Start ></a>
      li.price__item
        .price__item-face
          .price__item-name <span>Exclusive</span>
          span.price__unit $ 80
          span.price__tag Per Month
        .price__item-back
          ul.price__goods
            li Full Branding
            li Project Management 
            li Unlimited Revisions
            li 24/7 h Service
            li Free Domain
            li Free Hosting
          .price__more <a href="#">Let's Start ></a>
