section.section.section--gray.services
  header.section__header
    h2.section__title Our Services
    p.section__subtitle At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
  .container
    .row
      .col-sm-5.col-sm-offset-1
        .services__content
          ul.services__nav
            li.services__nav-item <i class="ic ic-tools"></i>
            li.services__nav-item.active <i class="ic ic-roll"></i>
            li.services__nav-item <i class="ic ic-joy"></i>
            li.services__nav-item <i class="ic ic-plug"></i>
          .services__carousel
            .services__carousel-item
              h3.h3 Graphic Design
              p.largep At vero eos et accusamus et <a href="#">iusto</a> odio dignissimos <strong>ducimus</strong> qui blanditiis praesentium voluptatum deleniti
              p quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, <a href="#">similique sunt</a> in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. 
      .col-sm-6
        .services__charts
          .services__chart
            span.services__chart-item(data-peity='{ "fill": ["#19bd9a", "#047378"],    "innerRadius": 56, "radius": 61 }') 8/10
            span.services__chart-perc 80%
            span.services__chart-title Branding
          
          .services__chart
            span.services__chart-item(data-peity='{ "fill": ["#19bd9a", "#047378"],    "innerRadius": 56, "radius": 61 }') 4/10
            span.services__chart-perc 40%
            span.services__chart-title Web Design
          .services__chart
            span.services__chart-item(data-peity='{ "fill": ["#19bd9a", "#047378"],    "innerRadius": 56, "radius": 61 }') 6/10
            span.services__chart-perc 60%
            span.services__chart-title UI/UX

section.section.impression
  .container
    .row
      .col-sm-6
        h2.section__title.section__title--white Impressed ?
        p.largep.largep--white At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias
        .impression__author - Abdullah Noman
        .impression__author-title Creatice Director, <em>Code Cafe</em>
      .col-sm-6.hidden-xs
        img(src="img/mac.png", alt="Mac").img-responsive.impression__img
