section.section.team
  header.section__header
    h2.section__title THE TEAM
    p.section__subtitle At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
  
  .team__carousel
    .team__carousel-item
      .container
        .row
          .col-sm-5.col-sm-offset-1
            .team__img
              img(src="img/team/team1.png", alt="Noman").img-responsive
          .col-sm-4.col-sm-offset-1
            .team__descr
              h3.team__name Abdullah Noman
              span.team__title Creative Director, Code Cafe
              p.team__text At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
              ul.team__quals
                li.team__qual
                  span Branding
                  span 80%
                  .team__qual-line(data-percents="80")
                li.team__qual
                  span Web Design
                  span 65%
                  .team__qual-line(data-percents="65")
                li.team__qual
                  span User Enterface
                  span 75%
                  .team__qual-line(data-percents="75")
            
            
  .section__cite.section__cite--team
    span Already Loved Us? Let’s talk!
    a(href="#").btn.btn--white Contact Us

section.section.section--gray.testimonials
  header.section__header
    h2.section__title testimonials
    p.section__subtitle At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
  
  .container
    .testimonials__carousel
      .testimonials__carousel-item
        .row
          .col-sm-2.col-sm-offset-1
            .testimonials__pic
              img(src="img/team/test1.jpg", alt="PARTHO").img-responsive
          .col-sm-8
            .testimonials__content
              p.testimonials__text At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia.
              .testimonials__name PARTHO
              span.testimonials__title FOUNDER, ARTWAYS BD
